@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

.main {
  background: #e6e6e6;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.main .circle_one {
  position: absolute;
  height: 750px;
  width: 750px;
  background-image: linear-gradient(135deg, #fab2ff 10%, #1904e5 100%);
  top: -180px;
  left: -170px;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.main .circle_two {
  position: absolute;
  height: 850px;
  width: 850px;
  background-image: linear-gradient(-135deg, #fab2ff 10%, #1904e5 100%);
  bottom: -280px;
  right: -10px;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container {
  position: relative;
  background: #fff;
  height: 600px;
  width: 400px;
  overflow: hidden;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container .home_heading{
  position: absolute;
    font-size: 45px;
    color: #fff;
    top: 65px;
    left: 25px;
    z-index: 1;
}

.container .circle-1 {
  position: absolute;
  height: 400px;
  width: 400px;
  background-image: linear-gradient(135deg, #fab2ff 10%, #1904e5 100%);
  top: -180px;
  left: -120px;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container .circle-2 {
  position: absolute;
  height: 100px;
  width: 100px;
  background-image: linear-gradient(-135deg, #fab2ff 10%, #1904e5 100%);
  top: 15px;
  right: 60px;
  border-radius: 50%;
  z-index: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container button {
  margin-top: 160px;
  padding: 10px 65px;
  border-radius: 30px;
  outline: none;
  border: none;
  background-image: linear-gradient(-120deg, #fab2ff 10%, #1904e5 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(247, 242, 242, 0.692) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin-bottom: 30px;
}

.container .login_button {
  font-size: 25px;
  text-decoration: none;
  color: #fff;
}

.container p {
  /* margin-top: 15px; */
  color: #888;
}

.container .button {
  margin-top: 30px;
}

.button button {
  font-family: 'Fredoka', sans-serif;
  cursor: pointer;
  margin: 0 10px;
  padding: 10px 25px;
  color: #fff;
  background-color: #368bec;
}

.button .fb {
  background: #368bec;
}

.button .gmail {
  padding: 10px 35px;
  background: #da2932;
}

.container .signup_link {
  position: relative;
  margin-top: 30px;
}

.signup_link .links {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}
